// Fonts

$font-main: "Roboto", system-ui;

// Colors

$text-primary: #000000;
$text-black: #000000;
$text-gray: #b3b3b3;
$text-secondary: #666666;
$text-tertiary: #ffffff;
$text-placeholder: #d9d9d9;
$primary-active: #69b42e;
$primary-hover: #80bf4d;
$icon-primary: #1a1a1a;
$border-primary: #cccccc;
$text-footer: #c6c7c8;
$secondary-bg: #f2f2f2;
$card-bg: #ffffff;
$footer-bg: #212121;

// Media

$tablet-large: 900px;
$phone-large: 500px;
$phone-small: 375px;
